.navbar{
    background-image: url('../public/images/BG\ Shape.png');
    /* height: 1000px; */
    background-repeat: no-repeat;
    background-size: cover;
  }

nav{
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
button{
    font-size: 22px;
    border-radius: 5px;
    padding: 5px 10px;
    /* margin-left: 20px; */
}
